.about-us {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6.9rem;
  padding: 11rem 3rem 6.9rem 30.1rem;
  /* padding: 11rem 3rem 6.9rem calc(1vw * (301 / 19.2)); */
  width: 100%;
  /* max-width: 192rem; */
  max-width: 1920px;
  background-color: #fff;
}

.about-us .about-us-grid {
  top: 8.9rem;
  left: 0;
}

.about-us .content-container {
  display: flex;
  position: relative;
  padding-left: 2.4rem;
  width: fit-content;
}

.about-us .title-article {
  position: absolute;
  /* left: 34.8rem; */
  right: 63.1rem;
  top: 2.7rem;
  font-family: "kanit", sans-serif;
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 10rem;
  white-space: nowrap;
  color: #333333;
  z-index: 5;
}

.about-us .title-article span {
  color: #d9d9d9;
}

.about-us .images-container {
  width: fit-content;
  height: 73.5rem;
}

.about-us .about-us-image-1 {
  width: 70.9rem;
  height: 47.3rem;
  border-radius: 4rem;
}

.about-us .about-us-image-2 {
  position: relative;
  left: -14.6rem;
  top: -6.2rem;
  border-radius: 4rem;
}

.about-us .about-us-image-2 img {
  width: 48.6rem;
  height: 32.4rem;
}

.about-us .square {
  position: absolute;
  left: 3.6rem;
  top: -3.6rem;
  width: 48.4rem;
  height: 31.5rem;
  background-image: url("../images/Rectangle.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.about-us .about-us-text-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  /* padding-top: 17.1rem; */
  padding-top: calc(1vw * (171 / 19.2));
  /* max-height: 19.2rem; */
  max-width: 51.2rem;
  font-family: "kanit", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.about-us .clients {
  /* padding-left: 30.1rem; */
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.about-us .clients h2 {
  font-family: "kanit", sans-serif;
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 10rem;
  white-space: nowrap;
  margin-left: 2.2rem;
}

.about-us .clients .clients-logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6.4rem;
}
