.careers {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  /* max-width: 192rem; */
  max-width: 1920px;
  padding: 7.2rem 5rem;
  background-color: #fff;
}

.careers .careers-grid {
  top: -21rem;
  left: 0;
}

.careers p {
  max-width: 122.3rem;
  z-index: 1;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 8rem;
  letter-spacing: -0.032rem;
  color: #4d2c6b;
}

.careers .pattern-button.careers-button {
  align-self: center;
  z-index: 1;
}
