.contact-us {
  display: flex;
  gap: calc(1vw * (97 / 19.2));
  position: relative;
  padding: 8rem;
  width: 100%;
  max-width: 1920px;
  background-color: #28103e;
}

.contact-us .contact-us-email h2 {
  color: #f2f2f2;
  font-family: "kanit", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.contact-us .contact-us-email p {
  color: #fff;
  font-family: "kanit", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.contact-us .contact-us-email p:last-child {
  color: #e9ce40;
  cursor: pointer;
}

.contact-us .our-address {
  color: #f2f2f2;
  font-family: "kanit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  max-width: 19.6rem;
}

.contact-us .our-address h3 {
  margin-bottom: 2.4rem;
  font-weight: 400;
  color: #e9ce40;
}

.contact-us .our-address p:nth-child(2) {
  margin-bottom: 2.4rem;
}

.contact-us .footer-container {
  display: flex;
  gap: calc(1vw * (97 / 19.2));
}

.contact-us .footer-list-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.contact-us .footer-list-container li {
  color: #f2f2f2;
  font-family: "kanit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
}

.contact-us .footer-list-container li:first-child {
  color: #e9ce40;
}

.contact-us .join-newsletter h2 {
  color: #f2f2f2;
  margin-bottom: 2.3rem;
  font-family: "kanit", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.contact-us .join-newsletter .join-newsletter-button {
  gap: calc(1vw * (75 / 19.2));
  padding: 1.6rem 3.2rem 1.6rem 4rem;
  border: 2px solid #d9d9d9;
  white-space: nowrap;
  font-size: 20px;
  letter-spacing: 0.46rem;
  background: transparent;
}

.contact-us .join-newsletter .join-newsletter-button .arrow {
  position: relative;
  width: 55px;
  height: 3px;
  z-index: 7;
  border-radius: 0 10px 10px 0;
  background-color: #fff;
}

.contact-us .join-newsletter .join-newsletter-button:hover {
  color: #fff;
  outline: none;
  background-color: #7f59e9;
}

.join-newsletter-button:hover .arrow,
.join-newsletter-button:hover .arrow:before,
.join-newsletter-button:hover .arrow:after {
  background-color: #fff;
}

.form-newsletter {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 50px;
  bottom: 50px;
  padding: 20px 50px 50px;
  z-index: 9;
  border-radius: 3%;
  background-color: #7f59e9;
}

.contact-us .join-newsletter .form-newsletter .exit-form-container {
  all: unset;
  position: relative;
  right: -400px;
  top: 15px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.contact-us .join-newsletter .form-newsletter .exit-form {
  position: relative;
  display: flex;
  width: 30px;
  height: 3px;
  background-color: #000;
  rotate: 45deg;
}

.contact-us .join-newsletter .form-newsletter .exit-form::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background-color: #000;
  rotate: 90deg;
}

.contact-us .join-newsletter .form-newsletter .form-label {
  color: #000;
  font-family: "kanit", sans-serif;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 20px;
}

.form-input {
  all: unset;
  color: #000;
  width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #fff;
  font-family: "kanit", sans-serif;
  font-size: 20px;
  background-color: #f2f2f2;
}

.invalid {
  border-color: rgb(216, 8, 8);
}

.contact-us .join-newsletter .form-newsletter button {
  margin-top: 50px;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-family: "kanit", sans-serif;
  font-size: 20px;
}

.invalid-input {
  display: none;
  position: relative;
  top: -20px;
  font-family: "kanit", sans-serif;
  font-size: 20px;
  color: rgb(216, 8, 8);
  justify-content: center;
}

.contact-us .copyright {
  position: absolute;
  left: 8.2rem;
  bottom: 1.9rem;
  font-family: "kanit", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #b1b1b1;
}
