.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 30px;
  padding: 0 278px 0 325px;
  color: #fff;
  width: 100%;
  /* max-width: 1920px; */
  max-width: 1920px;
  z-index: 5;
}

.header .company-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header .company-logo .company-name h1 {
  font-family: "K2D", sans-serif;
  font-size: 32px;
  font-weight: 800;
}

.header .company-logo .company-name h2 {
  font-family: "Kanit", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 10.86px;
}

.header .menu .menu-hamburger {
  display: none;
  width: 60px;
  height: 60px;
  align-self: flex-end;
}

.header nav label {
  display: flex;
  flex-direction: column;
}

.header .menu .hamburger {
  background-color: #fff;
  position: relative;
  display: block;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;
}

.header .menu .hamburger:before,
.header .menu .hamburger:after {
  background-color: #fff;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.2s ease-in-out;
}

.header .menu .hamburger:before {
  top: -10px;
}

.header .menu .hamburger:after {
  bottom: -10px;
}

.header .menu input {
  display: none;
}

.header .menu input:checked ~ label .hamburger {
  transform: rotate(45deg);
}

.header .menu input:checked ~ label .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}

.header .menu input:checked ~ label .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}

.header .menu input:checked ~ label ul a {
  padding: 8px;
  color: #000;
}

.header .menu ul {
  display: flex;
  gap: 40px;
}

.header .menu ul a {
  position: relative;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}

.header .menu ul a:hover::after {
  opacity: 1;
}

.header .menu ul a::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 1px;
  transition: 0.2s cubic-bezier(0.4, 0, 1, 1);
  opacity: 0;
}

@media (max-width: 1500px) {
  .header {
    padding: 0 100px;
  }
}

@media (max-width: 1250px) {
  .header {
    padding: 0 30px;
  }
}

@media (max-width: 900px) {
  .header .menu .menu-hamburger {
    display: block;
  }

  .header .menu ul {
    display: none;
  }

  .header .menu input:checked ~ ul {
    display: block;
  }

  .header .menu {
    position: absolute;
    top: 8px;
    top: calc(50% - 30px);
    right: 20px;
    z-index: 1;
  }

  .header .menu ul {
    width: 200px;
    background-color: #fff;
    padding: 20px;
  }

  .header .menu ul li a {
    text-align: center;
    padding: 20px;
    display: block;
    color: #000;
  }

  .header .menu ul a::after {
    background-color: #000;
    width: 100%;
    width: calc(100% - 40px);
  }
}

@media (max-width: 450px) {
  .header {
    padding: 0 16px;
  }

  .header .company-logo svg {
    width: 41.644px;
    height: 39px;
  }

  .header .company-logo .company-name {
    display: none;
  }
}
