.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 3rem;
  padding: 0 27.8rem 0 32.5rem ;
  color: #fff;
  width: 100%;
  max-width: 1920px;
  z-index: 5;

}

.header .company-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header .company-logo .company-name h1 {
  font-family: "K2D", sans-serif;
  font-size: 3.2rem;
  font-weight: 800;
}

.header .company-logo .company-name h2 {
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1.086rem;
}

.header .menu {
  display: flex;
  gap: 24px;
}

.header .menu h2 {
  font-family: "Kanit", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 8px;
  white-space: nowrap;
}
