.home {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1920px;
  padding: 18.8rem 10rem 14.5rem calc(1vw * (297 / 19.2));
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/pawel-czerwinski-FAlYVtV1kRg-unsplash\ 1.png");
  /* height: 956px; */
}

.home .balls-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 17.4rem;
  left: 18.2rem;
  max-width: 132.8rem;
  width: 69.17vw;
  height: 57.1rem;
}

.home .balls {
  border-radius: 100%;
  background: linear-gradient(
    143deg,
    rgba(224, 226, 109, 0.6) 0%,
    rgba(214, 15, 247, 0.4) 100%
  );
}

.home .balls.ball-1 {
  width: 48.8rem;
  height: 48.8rem;
  filter: blur(0px);
  backdrop-filter: blur(24px);
}

.home .balls.ball-2 {
  align-self: flex-end;
  width: 32.7rem;
  height: 32.7rem;
  filter: blur(12.5px);
  backdrop-filter: blur(24px);
}

.home .home-text-container {
  display: flex;
  flex-direction: column;
  width: 124.6rem;
  z-index: 4;
  color: #fff;

  /* animation-delay: 1s; */
}

.home .home-text-container h2 {
  font-family: "K2D", sans-serif;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 10rem;
  margin-bottom: 2.4rem;
  animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1s;
}

.home .home-text-container .highlighted-text {
  color: #cfff11;
}

.home .home-text-container h3 {
  text-align: right;
  font-family: "K2D", sans-serif;
  font-size: 9.6rem;
  font-weight: 300;
  line-height: 10rem;
  margin-bottom: 0.8rem;
  animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.5s;
}

.home .home-text-container p {
  text-align: right;
  font-family: "kanit", sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
  animation: scale-in-ver-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 2s;
}

.home-button {
  animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 2.5s;
}
