@media (max-width: 1500px) {
  html {
    font-size: 8px;
  }

  .about-us .images-container {
    height: 590px;
  }

  .about-us .clients .clients-logo {
    justify-content: center;
  }

  .button-container.projects-button {
    top: 1090px;
}

  .contact-us {
    gap: 40px;
    text-align: center;
  }

  .contact-us .our-address {
    max-width: none;
  }

  .contact-us .footer-container {
    gap: 40px;
    text-align: left;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 6px;
  }

  .about-us {
    padding-left: 10rem;
  }

  .about-us .images-container {
    height: 440px;
  }

  .about-us .about-us-text-container {
    font-size: 12px;
    max-width: 510px;
    padding-top: 70px;
  }

  .button-container.projects-button {
    top: 925px;
}

  .contact-us {
    justify-content: center;
    align-items: center;
    padding: 42px 25px 70px;
  }

  .contact-us .contact-us-email h2 {
    margin-bottom: 16px;
  }

  .contact-us .join-newsletter {
    display: none;
  }
}

@media (max-width: 900px) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .image-grid {
    height: 638px;
    max-width: 1440px;
    max-height: 720px;
  }

  .button-container {
    transform: scale(0.75);
  }

  .home {
    padding: 121px 16px 33px;
    justify-content: center;

    background-position: 24%;
  }

  .home .balls-container {
    left: 45px;
    height: 185px;

    /* width: 100%; */
  }

  .home .balls.ball-1 {
    width: 158px;
    height: 158px;

    filter: blur(0px);
    backdrop-filter: blur(24px);
  }

  .home .balls.ball-2 {
    align-self: flex-end;
    /* backdrop-filter: blur(24px); */

    filter: blur(13.5px);
    backdrop-filter: none;
    width: 106px;
    height: 106px;
    background: linear-gradient(
      143deg,
      rgba(224, 226, 109, 0.7) 0%,
      rgba(214, 15, 247, 0.7) 100%
    );
  }

  .home .home-text-container {
    max-width: 625px;
  }

  .home .home-text-container h2 {
    width: 350px;
    font-size: 36px;
    line-height: 48px;
  }

  .home .home-text-container h3 {
    align-self: flex-end;
    max-width: 390px;
    font-size: 36px;
    line-height: 42px;
  }

  .about-us {
    gap: 63px;
    padding: 36px 17px 50px;
  }

  .about-us .about-us-grid {
    top: 24px;
  }

  .about-us .content-container {
    flex-direction: column-reverse;
    gap: 35px;
    width: 100%;
    padding-left: 0;
  }

  .about-us .title-article {
    position: static;
  }

  .about-us .title-article span {
    color: #333333;
  }

  .about-us .images-container {
    align-self: center;
    padding-left: 90px;
  }

  .about-us .about-us-text-container {
    font-size: 16px;
    align-self: center;
    padding-top: 0;
  }

  .about-us .clients {
    padding: 0 27px;
    align-items: center;
  }

  .our-projects .our-projects-header ul {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 36px;
  }

  .our-projects .our-projects-header .our-projects-types.type-2,
  .our-projects .our-projects-header .our-projects-types.type-3,
  .our-projects .our-projects-header .our-projects-types.type-4,
  .our-projects .our-projects-header .our-projects-types.type-5 {
    margin-top: 0;
  }

  .our-projects .achievements {
    display: flex;
    margin-top: 9.6rem;

    gap: 50px;
  }

  .button-container.projects-button {
    top: 1170px;
    left: calc(50% - 155px);
  }

  .our-projects .our-projects-testimonials {
    align-items: flex-start;
    padding: 144px 15px 75px;
    background-position: 100% 50%;
  }

  .our-projects .our-projects-testimonials .carousel-testimonials-container {
    display: flex;
    flex-direction: column;
  }

  .our-projects .our-projects-testimonials h3 {
    align-self: center;
    margin-left: -15px;
    padding: 0;
  }

  .our-projects .our-projects-testimonials .carousel-testimonials {
    gap: 24px;
    width: calc(100vw - 15px);
    height: 286px;
    margin-left: 30px;
  }

  .our-projects
    .our-projects-testimonials
    .carousel-testimonials
    .carousel-card {
    height: 250px;
    padding: 32px;
    border-radius: 20px;
  }

  .our-projects .our-projects-testimonials p {
    width: 157px;
    letter-spacing: normal;
    font-size: 16px;
  }

  .our-projects .our-projects-testimonials span {
    font-size: 12px;
  }

  .button-container.testimonials-button {
    align-self: center;
    position: static;
    margin-left: -15px;
  }

  .careers {
    padding: 7.2rem 5rem 123px;
  }

  .contact-us {
    flex-direction: column;
    padding: 42px 25px 24px;
  }

  .contact-us .our-address {
    padding: 0 44px;
  }

  .contact-us .footer-container {
    gap: 125px;
    width: 100%;
    justify-content: center;
  }

  .contact-us .copyright {
    position: static;
  }
}

@media (max-width: 600px) {
  .about-us .images-container {
    height: 280px;
    padding-left: 58.6px;
  }
  .about-us .about-us-image-1 {
    width: 282.635px;
    height: 188.556px;
  }

  .about-us .about-us-image-2 {
    left: -58.6px;
  }

  .about-us .about-us-image-2 img,
  .about-us .square {
    width: 193.739px;
    height: 129.159px;
  }

  .about-us .square {
    left: 14.4px;
    top: -14.4px;
  }
}

@media (max-width: 400px) {
  /* ::-webkit-scrollbar {
    width: 0px;
  } */

  .pattern-button {
    gap: 8px;
    padding: 12px 24px;
    font-size: 16px;
    letter-spacing: 3.68px;
  }

  .arrow {
    transform: scale(calc(29 / 33));
  }

  .image-grid {
    background-size: 365% 114%;
  }

  /* .button-container.projects-button {
  transform: scale(0.75);
  } */

  /* .button-container .button-carousel {
  transform: scale(0.75);
  } */

  .home {
    max-width: 400px;
  }

  .home .balls-container {
    width: 100%;
  }

  .home .home-text-container h2 {
    width: 265px;
  }

  .home .home-text-container p {
    align-self: flex-end;
    width: 195px;
    font-size: 16px;
  }

  .about-us .title-article {
    font-size: 32px;
  }

  .about-us .clients h2 {
    font-size: 32px;
    line-height: normal;
    margin-left: 0;
  }

  .about-us .clients .clients-logo {
    row-gap: 42px;
    column-gap: 64px;
  }

  .about-us .clients .clients-logo li:nth-child(1) img {
    width: 120.396px;
    height: 80px;
  }

  .about-us .clients .clients-logo li:nth-child(2) img {
    width: 66.016px;
    height: 64px;
  }

  .about-us .clients .clients-logo li:nth-child(3) img {
    width: 188.591px;
    height: 48px;
  }

  .about-us .clients .clients-logo li:nth-child(4) img {
    width: 47.494px;
    height: 48px;
  }

  .about-us .clients .clients-logo li:nth-child(5) img {
    width: 72px;
    height: 72px;
  }

  .about-us .clients .clients-logo li:nth-child(6) img {
    width: 113.013px;
    height: 48px;
  }

  .about-us .clients .clients-logo li:nth-child(7) img {
    width: 115.894px;
    height: 42px;
  }

  .our-projects .our-projects-header {
    padding: 5.9rem 0 124px;
  }

  .our-projects .our-projects-header h2 {
    font-size: 32px;
  }

  .our-projects .our-projects-header ul {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 36px;
  }

  .our-projects .our-projects-header .our-projects-types {
    width: fit-content;
    padding: 17.5px 42px;
    text-align: center;
    font-size: 20px;
    background-color: rgba(166, 129, 242, 0.2);
    border: 1px solid rgba(242, 242, 242, 0.3);
  }

  .our-projects .our-projects-header .our-projects-types.type-1::after,
  .our-projects .our-projects-header .our-projects-types.type-2::after,
  .our-projects .our-projects-header .our-projects-types.type-3::after,
  .our-projects .our-projects-header .our-projects-types.type-4::after,
  .our-projects .our-projects-header .our-projects-types.type-5::after {
    display: none;
  }

  .our-projects .achievements {
    flex-direction: column;
    text-align: center;
    gap: 54px;
    margin-top: 54px;
  }

  .our-projects .achievements h3 {
    font-size: 64px;
    font-family: "Kanit", sans-serif;
  }

  .our-projects .achievements p {
    font-size: 20px;
  }

  .our-projects .carousel-projects {
    /* flex-direction: column; */
    height: auto;
  }

  .our-projects .carousel-projects .carousel-images-container {
    /* width: 390px; */
    /* width: 100vw; */
    min-width: 100vw;
    height: 262px;
  }

  /* .our-projects .carousel-projects .carousel-images.image-2,
  .our-projects .carousel-projects .carousel-images.image-3 {
    display: none;
  } */

  .our-projects .carousel-projects .carousel-images footer {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .our-projects .carousel-projects .carousel-images h4,
  .our-projects .carousel-projects .carousel-images span {
    font-size: 16px;
  }

  .button-container.projects-button {
    top: 1200px;
    left: calc(50% - 125px);
  }

  .our-projects .our-projects-testimonials .carousel-testimonials {
    margin-left: 0;
  }

  .careers .careers-grid {
    top: -175px;
  }

  .careers p {
    max-width: 122.3rem;
    line-height: normal;
    letter-spacing: normal;
    font-size: 32px;
  }

  .contact-us .our-address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-us .our-address p:nth-child(2) {
    width: 190px;
    text-align: center;
  }

  .contact-us .our-address p:nth-child(4) {
    width: 200px;
    text-align: center;
  }

  /* .contact-us .our-address p {

  } */

  .contact-us .footer-container {
    align-self: flex-start;
    gap: 20px;
    max-width: 270px;
    justify-content: space-between;
  }
}
