body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #28103e;
}

.pattern-button {
  all: unset;
  display: flex;
  align-self: flex-end;
  align-items: center;
  gap: 2.4rem;
  margin-top: 6.4rem;
  padding: 1.6rem 4rem;
  border-radius: 4rem;
  font-family: "kanit", sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 0.736rem;
  color: #fff;
  background: #6c40e9;
  box-sizing: border-box;
  position: relative;
}

.pattern-button .arrow {
  position: relative;
  width: 55px;
  height: 3px;
  background-color: #fff;
  z-index: 7;
  border-radius: 10px;
}

.pattern-button .arrow:before,
.pattern-button .arrow:after {
  background-color: #fff;
  content: "";
  display: block;
  width: 35%;
  height: 95%;
  position: absolute;
  /* transition: 0.2s ease-in-out; */
  border-radius: 10px;
  right: -2.5px;
}

.pattern-button .arrow:before {
  top: -6px;
  rotate: 45deg;
}

.pattern-button .arrow:after {
  top: 6px;
  rotate: -45deg;
}

.pattern-button:hover {
  background: #fff;
  outline: 2px solid #28103e;
  color: #28103e;
}

.pattern-button:hover .arrow {
  background-color: #28103e;
}

.pattern-button:hover .arrow:before,
.pattern-button:hover .arrow:after {
  background-color: #28103e;
}




.about-us {
  position: relative;
  height: 1208px;
  background-color: #fff;
  width: 100%;
  max-width: 1920px;
}

.about-us .about-us-image-grid {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 89px;
  width: 1440px;
  height: 720px;
}

.about-us .title-article {
  position: absolute;
  left: 649px;
  top: 137px;
  color: #333333;
  font-family: "kanit", sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 100px;
  white-space: nowrap;
  z-index: 5;
}

.about-us h2 span {
  color: #d9d9d9;
}

.about-us .images-container {
  top: 110px;
  position: relative;
  left: 835px;
  width: 709px;
}

.about-us .about-us-image-1 {
  background-repeat: no-repeat;
  background-size: cover;
  width: 709px;
  height: 473px;
  border-radius: 40px;
}

.about-us .about-us-image-2 {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: -146px;
  top: 441px;
  width: 486px;
  height: 324px;
  border-radius: 40px;
}

.about-us .square {
  position: absolute;
  width: 484px;
  height: 315px;
  left: -110px;
  top: 405px;
  background-image: url("../images/Rectangle.png");
}

.about-us .about-us-text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: absolute;
  left: 325px;
  top: 281px;
  font-family: "kanit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 512px;
}

.about-us .clients {
  position: absolute;
  bottom: 69px;
  left: 301px;
  display: flex;
  flex-direction: column;
}

.about-us .clients h2 {
  font-family: "kanit", sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 100px;
  white-space: nowrap;
}

.about-us .clients .clients-logo {
  display: flex;
  gap: 64px;
}

.about-us .clients .clients-logo img {
  width: 100%;
  height: 100%;
}

.our-projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
}

.our-projects .our-projects-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 59px 0 124px 0;
  background: linear-gradient(180deg, #000916 0%, #070010 100%);
}

.our-projects .our-projects-header h2 {
  color: #d9d9d9;
  font-family: "kanit", sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 100px;
  white-space: nowrap;
}

.our-projects .our-projects-header ul {
  display: flex;
  gap: 23px;
}

.our-projects .our-projects-header .our-projects-types {
  color: #cfff11;
  font-family: "kanit", sans-serif;
  font-size: 32px;
  font-weight: 500;
  padding: 26.5px 29px 26.5px 49px;
  height: 100%;
  position: relative;
  border-radius: 40px;
  background-color: rgba(166, 129, 242, 0.3);
  white-space: nowrap;
}

.our-projects .our-projects-header .our-projects-types.type-2 {
  margin-top: 50px;
}

.our-projects .our-projects-header .our-projects-types.type-3 {
  margin-top: 11px;
}

.our-projects .our-projects-header .our-projects-types.type-4 {
  margin-top: 69px;
}

.our-projects .our-projects-header .our-projects-types.type-5 {
  margin-top: 58px;
}

/* .our-projects .our-projects-header svg {
  width: 265px;
  height: 1160px;
} */

/* .our-projects .our-projects-header li::after {
    content: "";
    position: absolute;
    background-image: url("../images/Vector.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    top: 0;
    left: 10px;
}  */

.our-projects .achievements {
  display: flex;
  gap: 146px;
  margin-top: 96px;
}

/* .our-projects .achievements .completed-projects {
  display: flex;
  flex-direction: column;
} */

.our-projects .achievements h3 {
  font-family: "K2D", sans-serif;
  font-size: 96px;
  font-weight: 800;
  line-height: 100px;
  color: #fff;
}

.our-projects .achievements p {
  font-family: "K2D", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
}

.our-projects .carousel {
  display: flex;
  position: relative;
}

.our-projects .carousel .carousel-images-container {
  height: 457px;
  width: calc(100% / 3);
}

.our-projects .carousel .carousel-images {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
  display: flex;
  align-items: flex-end;
}

.our-projects .carousel .carousel-images footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 28px 40px;
  background: linear-gradient(
    0deg,
    rgba(29, 29, 29, 0.6) 0%,
    rgba(249, 249, 249, 0) 100%
  );
}

.our-projects .carousel .carousel-images.image-1 {
  background-image: url("../images/luke-chesser-JKUTrJ4vK00-unsplash.png");
}
.our-projects .carousel .carousel-images.image-2 {
  background-image: url("../images/path-digital-tR0jvlsmCuQ-unsplash.png");
}
.our-projects .carousel .carousel-images.image-3 {
  background-image: url("../images/brian-mcgowan-WJ0WWNdmJ3Y-unsplash.png");
}

.our-projects .carousel .carousel-images h4 {
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 4.6px;
  padding: 8px 20px;
  border-radius: 40px;
  border: 1px solid #f2f2f2;
  /* width: fit-content; */
  white-space: nowrap;
}

.our-projects .carousel .carousel-images span {
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 4.6px;
  width: fit-content;
  white-space: nowrap;
}

.button-container {
  position: absolute;
  display: flex;
  gap: 16px;
  z-index: 5;
}

.button-container.projects-button {
  bottom: -135px;
  right: 145px;
}

.our-projects button {
  all: unset;
  display: flex;
  height: 64px;
  padding: 0 32px;
  border-radius: 40px;
  border: 1px solid #f5f5f5;
}

.our-projects button img {
  width: 78px;
}

.our-projects .left-arrow {
  rotate: 180deg;
}

.our-projects .our-projects-testimonials {
  background-color: #6c40e9;
  background-image: url("../images/kai-dahms-SbrZdkLtTCY-unsplash.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 307px 180px 210px;
  align-items: center;
}

.our-projects .our-projects-testimonials .carousel-testimonials {
  display: flex;
  gap: 21px;
  position: relative;
}

.our-projects .our-projects-testimonials .carousel-testimonials .carousel-card {
  display: flex;
  padding: 42px;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  border: 1px solid #f5f5f5;
  background: rgba(255, 255, 255, 0.15);
}

.our-projects .our-projects-testimonials h3 {
  color: #f2f2f2;
  font-family: "Kanit", sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 100px;
  margin-bottom: 42px;
}

.our-projects .our-projects-testimonials p {
  color: #f2f2f2;
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.28px;
  width: 308px;
}

.our-projects .our-projects-testimonials span {
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.button-container.testimonials-button {
  bottom: -113px;
  right: 0;
}

.service-description {
  display: flex;
  flex-direction: column;
  padding: 72px 0;
  align-items: center;
  position: relative;
  background-color: #fff;
  width: 100%;
  max-width: 1920px;
}

.service-description .about-us-image-grid {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -210px;
  left: 0;
  width: 1440px;
  height: 720px;
  z-index: 0;
}

.service-description p {
  color: #4d2c6b;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: -0.32px;
  z-index: 1;
  width: 1223px;
}

.service-description button {
  all: unset;
  font-family: "kanit", sans-serif;
  display: flex;
  align-items: center;
  margin-top: 64px;
  padding: 16px 40px;
  gap: 24px;
  border-radius: 40px;
  background: #6c40e9;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 7.36px;
  z-index: 1;
}

.contact-us {
  background-color: #28103e;
  display: flex;
  padding: 80px;
  gap: 97px;
  position: relative;
  width: 100%;
  max-width: 1920px;
}

/* .contact-us .contact-us-email {

} */

.contact-us .contact-us-email {
  width: fit-content;
}

.contact-us .contact-us-email h2 {
  color: #f2f2f2;
  font-family: "kanit", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.contact-us .contact-us-email p {
  color: #fff;
  font-family: "kanit", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.contact-us .contact-us-email p:last-child {
  color: #e9ce40;
}

.contact-us .our-address {
  color: #f2f2f2;
  font-family: "kanit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 19.5rem;
}

.contact-us .our-address h3 {
  color: #e9ce40;
  margin-bottom: 24px;
}

.contact-us .our-address p:nth-child(2) {
  margin-bottom: 24px;
}

.contact-us .menu-of-footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact-us .menu-of-footer li {
  color: #f2f2f2;
  font-family: "kanit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  flex-wrap: nowrap;
  display: flex;
  white-space: nowrap;
}

.contact-us .follow-us {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-us .follow-us h3 {
  color: #e9ce40;
  font-family: "kanit", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.contact-us .follow-us ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-us .follow-us li {
  color: #f2f2f2;
  font-family: "kanit", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.contact-us .join-newsletter h2 {
  color: #f2f2f2;
  /* text-align: center; */
  font-family: "kanit", sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 23px;
}

.contact-us .join-newsletter button {
  all: unset;
  display: flex;
  gap: 75px;
  align-items: center;
  margin-top: 64px;
  padding: 16px 32px 16px 40px;
  border-radius: 40px;
  color: #fff;
  font-family: "kanit", sans-serif;
  z-index: 1;

  font-size: 20px;
  font-weight: 400;
  letter-spacing: 4.6px;

  border-radius: 40px;
  border: 2px solid #d9d9d9;
}

.contact-us .join-newsletter button span {
  width: max-content;
}

.contact-us .copyright {
  position: absolute;
  left: 82px;
  bottom: 19px;
  color: #b1b1b1;
  font-family: "kanit", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
