body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #28103e;
}

.pattern-button {
  all: unset;
  display: flex;
  align-self: flex-end;
  align-items: center;
  gap: 2.4rem;
  margin-top: 6.4rem;
  padding: 1.6rem 4rem;
  border-radius: 4rem;
  font-family: "kanit", sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 0.736rem;
  color: #fff;
  background: #6c40e9;
  box-sizing: border-box;
  position: relative;
}

.arrow {
  position: relative;
  width: 55px;
  height: 3px;
  background-color: #fff;
  z-index: 7;
  border-radius:0 10px 10px 0;
}

.arrow:before,
.arrow:after {
  background-color: #fff;
  content: "";
  display: block;
  width: 35%;
  height: 95%;
  position: absolute;
  /* transition: 0.2s ease-in-out; */
  border-radius: 10px;
  right: -2.5px;
}

.arrow:before {
  top: -6px;
  rotate: 45deg;
}

.arrow:after {
  top: 6px;
  rotate: -45deg;
}

.pattern-button:hover {
  background: #fff;
  outline: 2px solid #28103e;
  color: #28103e;
}

.pattern-button:hover .arrow {
  background-color: #28103e;
}

.pattern-button:hover .arrow:before,
.pattern-button:hover .arrow:after {
  background-color: #28103e;
}

/* .button-container {
  position: absolute;
  display: flex;
  gap: 1.6rem;
  z-index: 5;
} */




.careers {
  display: flex;
  flex-direction: column;
  padding: 72px 0;
  align-items: center;
  position: relative;
  background-color: #fff;
  width: 100%;
  max-width: 1920px;
}

.careers .image-grid {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -210px;
  left: 0;
  width: 1440px;
  height: 720px;
  z-index: 0;
}

.careers p {
  color: #4d2c6b;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: -0.32px;
  z-index: 1;
  width: 1223px;
}

.careers button {
  all: unset;
  font-family: "kanit", sans-serif;
  display: flex;
  align-items: center;
  margin-top: 64px;
  padding: 16px 40px;
  gap: 24px;
  border-radius: 40px;
  background: #6c40e9;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 7.36px;
  z-index: 1;
}

.contact-us {
  background-color: #28103e;
  display: flex;
  padding: 80px;
  gap: 97px;
  position: relative;
  width: 100%;
  max-width: 1920px;
}

/* .contact-us .contact-us-email {

} */

.contact-us .contact-us-email {
  width: fit-content;
}

.contact-us .contact-us-email h2 {
  color: #f2f2f2;
  font-family: "kanit", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.contact-us .contact-us-email p {
  color: #fff;
  font-family: "kanit", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.contact-us .contact-us-email p:last-child {
  color: #e9ce40;
}

.contact-us .our-address {
  color: #f2f2f2;
  font-family: "kanit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 19.5rem;
}

.contact-us .our-address h3 {
  color: #e9ce40;
  margin-bottom: 24px;
}

.contact-us .our-address p:nth-child(2) {
  margin-bottom: 24px;
}

.contact-us .menu-of-footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact-us .menu-of-footer li {
  color: #f2f2f2;
  font-family: "kanit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  flex-wrap: nowrap;
  display: flex;
  white-space: nowrap;
}

.contact-us .follow-us {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-us .follow-us h3 {
  color: #e9ce40;
  font-family: "kanit", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.contact-us .follow-us ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-us .follow-us li {
  color: #f2f2f2;
  font-family: "kanit", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.contact-us .join-newsletter h2 {
  color: #f2f2f2;
  /* text-align: center; */
  font-family: "kanit", sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 23px;
}

.contact-us .join-newsletter button {
  all: unset;
  display: flex;
  gap: 75px;
  align-items: center;
  margin-top: 64px;
  padding: 16px 32px 16px 40px;
  border-radius: 40px;
  color: #fff;
  font-family: "kanit", sans-serif;
  z-index: 1;

  font-size: 20px;
  font-weight: 400;
  letter-spacing: 4.6px;

  border-radius: 40px;
  border: 2px solid #d9d9d9;
}

.contact-us .join-newsletter button span {
  width: max-content;
}

.contact-us .copyright {
  position: absolute;
  left: 82px;
  bottom: 19px;
  color: #b1b1b1;
  font-family: "kanit", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
